<!DOCTYPE html>
<!-- ToDo:
1.add href to logo top left
 -->
<html>
    <head>
        <title>
            CollegeLife - Now find all the information and activities regarding your institution here!
        </title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
        <link rel="stylesheet" href="../views/styles2.css">
        
        <!-- end of stylesheets -->
    
    </head>
    <body>
    <div class="container mb-2">
        <nav class="navbar" style="padding-top: 1.2%">
            <a>
                <span style="font-family: 'Shadows Into Light', cursive; font-size: 265%">CollegeLife</span>
            </a>
            <div class="d-flex flex-row-reverse" style="font-family: 'Julius Sans One', sans-serif; font-size: 120%">
                <div class="p-2 ml-3">About Us</div>
                <div class="p-2 ml-3">All Courses</div>
                <div class="p-2">My Profile</div>
            </div>
        </nav>
    </div>
    <div class="container mb-4" style="font-family: 'Julius Sans One', sans-serif">
            Upcoming Events
            <span style="padding-left: 5%;">Club Centre</span>
            <a href="https://stevens.wd5.myworkdayjobs.com/External"><span style="padding-left: 5%;">Workday</span></a>
            <span style="padding-left: 5%;">Quack Centre</span>
            <a href="https://stevens.joinhandshake.com/login"><span style="padding-left: 5%;">Handshake</span></a>
        </div> 
    <!-- Entire Website Div -->
    <div class="container">
        <ul>
        {{#each courses}}
        <li>{{courseName}}</li>
        {{/each}}
        </ul>
    </div>
    </body>
</html>