<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../views/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CollegeLife</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#features">Features <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./register">Sign up</a>
                </li>
                <li class="nav-item">
                    <a id="logout"class="nav-link" href="#">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonials">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4">Find the course you're looking for.</h1>
        <p class="lead">CollegeLife helps you find the course you're looking for by providing you accurate reviews and takeaways by the previous studnets.</p>
        <hr class="my-4">
        <div class="container">
            <div class="row justify-content-md-center">
                <a class="btn btn-link btn-lg" href="#" role="button" style="font-size: 3.25rem">
                    <i class="fas fa-play-circle"></i>
                </a>
            </div>
        </div>
        
    </div>

    <div class="container home-section" id="features">
        <div class="home-tile">
            <div class="row justify-content-md-center">
                <h2>Main Features/Benefits</h2>
                <p>With our Version 1 of CollegeLife, we incorporate reviews from various other websites like ratemyprofessor and coursehero</p>
            </div>
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <i class="far fa-check-circle" style="font-size:40px"></i>
                    <h3>Course Reviews</h3>
                    <p>Get accurate course reviews by previous students enrolled in the course.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="far fa-check-circle" style="font-size:40px"></i>
                    <h3>Course Study Plans</h3>
                    <p>Get entire study plans for your majors, verified by the advisors at your college.</p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="far fa-check-circle" style="font-size:40px"></i>
                    <h3>College Clubs</h3>
                    <p>Get the latest information about the activities and events held by your college clubs.</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </div>

    <div class="container home-section" id="about">
        <div class="home-tile">
            <div class="row justify-content-md-center">
                <h2>CollegeLife Image Gallery</h2>
                <p>A brief look on how the inside of CollegeLife looks</p>
            </div>
            <div class="row">
                <div class="col-lg-4 justify-content-md-center">
                    <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    </svg>
                </div>
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    </svg>
                </div>
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="testimonials">
        <div class="home-tile">
            <div class="row justify-content-md-center">
                <h2>Testimonials</h2>
            </div>
            <div class="row">
                <div class="col-md-8 col-center m-auto">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>   
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <!-- <div class="img-box"><img src="/examples/images/clients/1.jpg" alt=""></div> -->
                                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p> 
                                <hr width="30%">
                                <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
                            </div>
                            <div class="item carousel-item">
                                <!-- <div class="img-box"><img src="/examples/images/clients/2.jpg" alt=""></div> -->
                                <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>    
                                <hr width="30%">
                                <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
                            </div>
                            <div class="item carousel-item">
                                <!-- <div class="img-box"><img src="/examples/images/clients/3.jpg" alt=""></div> -->
                                <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
                                <hr width="30%">
                                <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container home-section" id="contact">
            <div class="home-tile">
                <div class="row justify-content-md-center">
                    <h2>Sign up today!</h2>
                    <p>Don't miss out on this wonderful opportunity to be a part of this journey. Be a part of the CollegeLife community!</p>
                </div>
                <div class="row">
                    <form class="signup-form" action="">
                        <div class="signup-login">
                            <label for="email">Email Address</label>
                            <input id="email" type="email" placeholder="Email Address" />
                            <label for="pswd">Password</label>
                            <input id="pswd" type="password" placeholder="Password" />
                        </div>
                        <div class="signup-send-name">
                            <label for="name">Display Name</label>
                            <input id="name" type="text" placeholder="Display Name" />
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <footer class="footer">
        <div class="container">
            <nav class="nav justify-content-md-center">
                <a class="nav-link" href="#features">Features</a> | 
                <a class="nav-link" href="#about">About</a> | 
                <a class="nav-link" href="#testimonials">Testimonials</a> | 
                <a class="nav-link" href="#contact">Contact</a> | 
                <a class="nav-link" href="#download">Download</a>
            </nav>
            <hr width="30%">
            <div class=" justify-content-md-center">
                <span class="text-muted">1 Castle Point Terrace, Hoboken, NJ 07030 <br /> &copy; CollegeLife</span>
            </div>
        </div>
    </footer>
</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-firestore.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyARX7FPL0aEZpOjmFVGceNNGKv7Oxj2-Yc",
    authDomain: "college-life-8aa5b.firebaseapp.com",
    databaseURL: "https://college-life-8aa5b.firebaseio.com",
    projectId: "college-life-8aa5b",
    storageBucket: "college-life-8aa5b.appspot.com",
    messagingSenderId: "960457236570",
    appId: "1:960457236570:web:ebc39a3ad56e29e2"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  const auth = firebase.auth();
  const db = firebase.firestore();

//   db.settings({timestampsInSnapshots: true});

// logout
const logout = document.querySelector('#logout');
logout.addEventListener('click', (e) => {
  e.preventDefault();
  auth.signOut();
});

auth.onAuthStateChanged(user => {
            if (user) {
                console.log("user logged in: ", +user);
            } else {
                console.log("user logged out");
            }
        });
</script>

<!-- <script src="../scripts/auth.js"></script>
<script src="../scripts/index.js"></script> -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</html>