<!DOCTYPE html>
<!-- ToDo:
1.add href to logo top left
 -->
<html>
    <head>
        <title>
            CollegeLife - Now find all the information and activities regarding your institution here!
        </title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
        <link rel="stylesheet" href="../views/styles2.css">
        
        <!-- end of stylesheets -->
    
    </head>
    <body>
    <div class="container mb-2">
        <nav class="navbar" style="padding-top: 1.2%">
            <a>
                <span style="font-family: 'Shadows Into Light', cursive; font-size: 265%">CollegeLife</span>
            </a>
            <div class="d-flex flex-row-reverse" style="font-family: 'Julius Sans One', sans-serif; font-size: 120%">
                <div class="p-2 ml-3">About Us</div>
                <div class="p-2 ml-3">All Courses</div>
                <div class="p-2">My Profile</div>
            </div>
        </nav>
    </div>
    <!-- Entire Website Div -->
    <div class="container">
    <!-- <div class= "queryBox" style="float:right; width: 250px; height: 250px">
        Tweet Box
    </div> -->
    <!-- Basic card structure for react -->
        <!-- <div class="d-flex queryBox mb-3">
            <div class="mr-3">U<br>C<br>D</div>
            <div class="ml-1">
                <span class="mr-2">CS554</span><span style="font-weight: bolder">Query Header</span><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias velit ut vel, reprehenderit praesentium corporis nesciunt nam minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque perspiciatis excepturi itaque veniam nam perferendis quas magni odit at libero tempora vero dignissimos, nostrum modi cum voluptates aperiam nobis dolorem!
            </div>
        </div>
        <div class="d-flex queryBox mb-3">
            <div class="mr-3">U<br>C<br>D</div>
            <div class="ml-1">
                <span class="mr-2">CS554</span><span style="font-weight: bolder">Query Header</span><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias velit ut vel, reprehenderit praesentium corporis nesciunt nam minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque perspiciatis excepturi itaque veniam nam perferendis quas magni odit at libero tempora vero dignissimos, nostrum modi cum voluptates aperiam nobis dolorem!
            </div>
        </div>
        <div class="d-flex queryBox">
            <div class="mr-3">U<br>C<br>D</div>
            <div class="ml-1">
                <span class="mr-2">CS554</span><span style="font-weight: bolder">Query Header</span><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias velit ut vel, reprehenderit praesentium corporis nesciunt nam minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque perspiciatis excepturi itaque veniam nam perferendis quas magni odit at libero tempora vero dignissimos, nostrum modi cum voluptates aperiam nobis dolorem!
            </div>
        </div> -->
        <div class="container" style="font-family: 'Julius Sans One', sans-serif">
            Upcoming Events
            <span style="padding-left: 5%;">Club Centre</span>
            <span style="padding-left: 5%;">Workday</span>
            <span style="padding-left: 5%;">Query Centre</span>
            <span style="padding-left: 5%;">Handshake</span>
        </div> 
    </div>
    <div id="reactDiv">

    </div>
    </body>
</html>