<!-- <div class= "queryBox" style="float:right; width: 250px; height: 250px">
        Tweet Box
    </div> -->
    <!-- Basic card structure for react -->
        <!-- <div class="d-flex queryBox mb-3">
            <div class="mr-3">U<br>C<br>D</div>
            <div class="ml-1">
                <span class="mr-2">CS554</span><span style="font-weight: bolder">Query Header</span><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias velit ut vel, reprehenderit praesentium corporis nesciunt nam minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque perspiciatis excepturi itaque veniam nam perferendis quas magni odit at libero tempora vero dignissimos, nostrum modi cum voluptates aperiam nobis dolorem!
            </div>
        </div>
        <div class="d-flex queryBox mb-3">
            <div class="mr-3">U<br>C<br>D</div>
            <div class="ml-1">
                <span class="mr-2">CS554</span><span style="font-weight: bolder">Query Header</span><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias velit ut vel, reprehenderit praesentium corporis nesciunt nam minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque perspiciatis excepturi itaque veniam nam perferendis quas magni odit at libero tempora vero dignissimos, nostrum modi cum voluptates aperiam nobis dolorem!
            </div>
        </div>
        <div class="d-flex queryBox">
            <div class="mr-3">U<br>C<br>D</div>
            <div class="ml-1">
                <span class="mr-2">CS554</span><span style="font-weight: bolder">Query Header</span><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias velit ut vel, reprehenderit praesentium corporis nesciunt nam minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque perspiciatis excepturi itaque veniam nam perferendis quas magni odit at libero tempora vero dignissimos, nostrum modi cum voluptates aperiam nobis dolorem!
            </div>
        </div> -->
        <!-- <div class="newQuack" style="margin-left: 35%">
            <input class="ml-4 mb-2" type="text" style="width:inherit" placeholder="Write a new Quack!"><br>
            <button type="button" class="button btn">Photo</button>
            <button type="button" class="button btn">Video</button>
            <button type="button" class="button btn">Document</button>
        </div> -->